img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }      

h2 {
  margin-top: 40px;
}  

h3 {
  margin-top: 20px;
}  

.legende {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: small;
}

hr {
 margin-top: 30px;   
 margin-top: 20px;   
}

em {
    font-size: small;
}
